.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.list {
  list-style-type: none;
  display: inline;
  padding: 20px;
  font-size: large;
  font-weight: 500;
}
.center{
  text-align: center;
}
.carrito {
  font-size: large;
}
.cart-container{
  display: flex;
  position: relative;
  right: 5rem;
  justify-content: end;
}